* {
  margin: 0;
  padding: 0;
}

p {
  margin: 1px;
  text-align: center;
  padding: 0.8em;
  font-weight: bold;
}

.child {
  margin-top: 2em;
}

.contain {
  width: 25%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.first {
  background-color: rgb(54, 54, 88);
  grid-column: 1/span 4;
  text-align: right;
  color: white;
}

.last {
  background-color: rgb(234, 228, 228);
  grid-column: 1/span 2;
}

.operators {
  background-color: orange;
  font-size: 1.2em;
}

.numbers {
  background-color: rgb(234, 228, 228);
  background-repeat: no-repeat;
}
