* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0.5px;
  text-align: center;
  padding: 1em;
}
.contain {
  margin-top: 4em;
  width: 25%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.first {
  background-color: rgb(54, 54, 88);
  grid-column: 1/span 4;
  text-align: right;
  color: white;
}

.last {
  background-color: rgb(234, 228, 228);
  grid-column: 1/span 2;
}

.operators {
  background-color: orange;
  background-repeat: no-repeat;
}

.numbers {
  background-color: rgb(234, 228, 228);
  background-repeat: no-repeat;
}
